.Window {
    position:absolute;
    top:50px;
}

.ContentWindow {
    align-items: stretch;

    border-image-source:url("/assets/desktop/WindowBorder.png");
    border-image-slice: 6 fill;
    border-image-width: 3px;
    border-image-repeat: stretch;
    border-style: solid;
}

.Titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor:move;
    border-image-source:url("/assets/desktop/Titlebar.png");
    border-image-slice: 7 7 7 7 fill;
    border-image-width: 3px;
    border-image-repeat: stretch;
    border-style: solid;
    height:6px;
    width:inherit;
}